.results{
    margin-top: 15%;
}

.answer {
    color: red;
}

.correct {
    color: green;
}

button {
    font-size: 24px;
}

h1 {
    font-size: 32px;
}

mat-card {
    margin: auto;
    width: 15rem;
    background-image: linear-gradient(white, rgb(255, 252, 237));
}
