* {
  text-align: center;
  font-size: 24px;
}

.quiz {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(white, rgba(216, 229, 255, 0.300), white);
}

.questions{
  margin-top: 15%;
}

.next-button{
  background-image: linear-gradient(white, rgb(255, 252, 237));
}