.welcome{
  height: 100vh;
  background-image: linear-gradient(white, rgba(216, 229, 255, 0.522), white);
}

h1 {
    font-size: 32px;
}

* {
    margin: auto;
    text-align: center;
    padding: 15px;
}

mat-card {
    width: 15rem;
    background-image: linear-gradient(white, rgb(255, 252, 237));
}

mat-card:hover {
    transform: scale(1.05);
}

mat-card-title {
    font-size: 32px;
}
